{% extends 'layouts/main.html' %}

{% block content %}
	<h1>Home</h1>
	<p>Lorem ipsum, dolor, sit amet consectetur adipisicing elit. Minus, tempore voluptas ad eveniet asperiores architecto provident unde pariatur cupiditate praesentium suscipit similique at deleniti numquam? Repudiandae natus sequi maxime accusamus nulla expedita. Quae distinctio eos nihil eaque, ad iure, fugiat delectus nulla ipsum. Nobis vero ex maxime iste ratione ad consectetur, quia tempore voluptate sequi mollitia non eligendi animi expedita ipsum? Velit excepturi, sed. Eum sequi quibusdam cupiditate, totam? Non nisi ad rem magnam autem porro. Itaque, consectetur. Minima, est beatae architecto nihil aspernatur ullam provident mollitia praesentium velit saepe id quod fuga eius enim quae harum totam delectus perferendis.</p>
{% endblock %}
